/_build/
/cover/
/deps/
/doc/
erl_crash.dump
*.ez
supablock-*.tar
/tmp/
vendor/efuse/c_src/efuse
vendor/efuse/c_src/*.o
vendor/efuse/c_src/*.d
vendor/efuse/priv/efuse
/burrito_out/
__pycache__/
/npm/out/
